<main class="flex justify-center items-center flex-col gap-10">
  <div class="header">
    <h1 class="text-3xl font-bold">Register</h1>
  </div>
  <div class="inputs">
    <input type="text" placeholder="Nombre" class="input w-full max-w-xs" />
    <input type="text" placeholder="Correo" class="input w-full max-w-xs" />
    <input type="text" placeholder="Contraseña" class="input w-full max-w-xs" />
    <input type="text" placeholder="COnfirmar" class="input w-full max-w-xs" />
  </div>
  <div class="buttons">
    <button class="btn btn-neutral">Register</button>
  </div>
</main>
